{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css'  %}">
    <!-- Custom styles for this template -->
    <style>
        body {
            background-image: src("1.jpg");
            opacity: 0.5;
        }
    </style>
</head>

<body class="text-center" style="opacity: 2;">
    <div style="margin-top: 210px;">
        <h1 style="color: black;">Select Your Administrative Powers</h1>
    </div>
    <div style="margin-top: 70px;">
        <div>
            <a class="btn btn-lg btn-primary col-3 mt-20" style="margin-right: 50px;" href="{% url 'login' %}">Agent</a>
            <a class="btn btn-lg btn-primary col-3 mt-20" style="margin-left: 50px;"
                href="{% url 'off_login' %}">Office</a>
        </div>
    </div>
</body>

</html>